body{
  margin:0;
  background-color: #181824;
}
.img-background{
  display: block;
  width: 1920px;
}
.title{
  position:absolute;
  top: 10px;
  left: 400px;
}
.createTodo{
  position: absolute;
  top: 20%;
  left: 35%;
  width: 450px;;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color:white;
  background-color: #25273c;
}
.listTodo {
  color: white;
  left: 35%;
  display: block;
  width: 350px;
  top: 30%;
  position: absolute;
  list-style: none;
  font-size: 20px;
}

